body{

	font-size:20px;
	color:#000
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 700;
  text-transform: uppercase;
}
h4.timeline-title
{
  font-family: 'Dossis', 'sans-serif';
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 40px
}
