---
layout: lokacija
title: Lokacija Skaville Festivala
style: images/slider/bg4.jpg
naslov: Lokacija
podnaslov: 
---

&nbsp;


<strong>Grad Križevci</strong> nalazi se u jugozapadnom dijelu Koprivničko-križevačke županije, 57 km sjeverno od <strong>Zagreba</strong> na križanju prometnica koje povezuju <strong>Zagreb, Koprivnicu, Bjelovar i Varaždin</strong>. Jedna od asocijacija na ime grada, slučajno ili namjerno, upućuje nas na križanje putova, pa je tako na ovom području još od antike i srednjeg vijeka bilo križište prometnih pravaca.
<br><br>

<img class="img-responsive" src="images/krizevci.jpg" alt="Križevci Skaville 2015" width="800" height="449" /><br><br>
<strong>Skaville Festival</strong> održati će se u prostoru ljetnog kina te na području kompleksa vojarne i njenog parka u samom centru grada Križevaca.
<br><br>
	

<img src="images/SKA-MAP.jpg" alt="Skaville Karta 2015 (Križevci)" width="900" height="900" class="img-responsive" />


<br><br>
<strong>HŽ Putnički prijevoz</strong> svim putnicima koji putuju na navedeni festival odobrava popust u visini <strong>40% od redovite prijevozne cijene</strong>, u 1. i 2. razredu svih vrsta redovnih vlakova. Odobreni popust koristi se na svim relacijama s područja Republike Hrvatske do kolodvora Križevci i  natrag, kao i za putnike iz Republike Slovenije s kojom HŽ ima sklopljen poseban sporazum o prijevozu posjetitelja na različite kulturne i sportske manifestacije. Povlastica će se moći koristiti od <strong>09. do 14. srpnja 2015.</strong> i to na udaljenostima većim od 25 km.

<strong>Da bi se ispunili uvjeti za korištenje odobrene povlastice potrebno je:</strong>

-prilikom kupovine prijevozne karte izjaviti da se putuje na navedeni festival

-prijevozna karta mora biti isključivo povratna i

-ovjerena u povratku od strane organizatora festivala.


Obavijest o održavanju festivala i uvjetima prodaje bit će dostupna i na službenim Internet stranicama <a href="http://www.hzpp.hr" target="_blank">http://www.hzpp.hr</a>

&nbsp;

<h2>Lokacija na karti:</h2>



