---
layout: ostalo
title: Pravila ponašanja na festivalu
style: images/slider/bg4.jpg
naslov: Pravila festivala
podnaslov: Opća pravila
punchline: Ska, jazzy, gypsy atrakcija iz Venecuele
video: https://www.youtube.com/embed/t0dkzAvsQ0w?autoplay=1
youtube: https://www.youtube.com/results?search_query=Gypsy+Ska+Orquesta+
facebook: https://www.facebook.com/gypsyska?_rdr
twitter: https://twitter.com/gypsyska
---

&nbsp;

- Skaville Festival ima određena pravila ponašanja kako bi cijeli festival prošao u što kvalitetnijim uvjetima za posjetitelje i same organizatore.
<hr>
- Zabranjeno je paljenje vatre u bilo kojem obliku
<hr>

- Zabranjeno je unošenje hladnog i vatrenog oružja te bilo kakvih predmeta koji bi mogli narušiti sigurnost festivala uključujući pirotehniku, staklene predmete i slično
<hr>

- Molimo sve posjetitelje da posebnu pozornost obrate na ekološki segment te da iza sebe ne ostavljaju smeće već ga odlažu na posebno obilježenim mjestima, festival se nalazi u prirodi koju želimo sačuvati
<hr>

- Festival će osiguravati profesionalna redarska služba i Skaville volonteri koji će osiguravati red i mir kako bi festival prošao u mirnoj i veseloj atmosferi bez nepotrebnih incidenata koji bi mogli ugroziti posjetitelje ili samo održavanje festivala. Na festival ulazite na vlastitu odgovornost, a ukoliko kršite navedena pravila, prvo ćete biti upozoreni a nakon toga redarska služba ima i mogućnost udaljiti vas sa mjesta održavanja
<hr>

- Kampiranje je moguće isključivo sa kupljenom ulaznicom za festival, biti će organizirani kemijski WCi kao i postavljeni tuševi za posjetitelje
<hr>

- Na ulazu ćete dobiti festivalsku narukvicu u boji prikladnoj kupljenoj karti (jednodnevna/festivalska) koje možete zamijeniti isključivo ukoliko dođete sa oštećenom narukvicom za koju tražite zamjenu. Izgubljene narukvice znače gubitak prava za ostanak na festivalu te vodite računa o tome



&nbsp;



