---
layout: ostalo
title: Smještaj - Skaville Festival 2015, Križevci
style: images/slider/bg5.jpg
naslov: Smještaj
podnaslov: 
---

&nbsp;

U Križevcima se možete smjestiti vrlo jeftino i raznoliko. Odmor možete pronaći u klasičnim hotelskim sobama, apartmanima, seoskom turizmu ili kući za odmor.


<h2>FESTIVALSKI KAMP</h2>
U sklopu Skaville sela biti će osigurano i besplatno kampiranje za posjetitelje. Biti će osigurana i pitka voda, sanitarni čvor i tuševi. Dovoljno je uzeti šator, dobru volju i avanturistički duh te vikend zabava može početi.
&nbsp;
<h1>SOBE „KAPETANOVA KUĆA“</h1>

<img class="img-responsive" src="images/smjestaj/captains.jpg" alt="captains" width="600" height="450" />
&nbsp;
Sobe smještene u Gornjem gradu uz aleju kestenova i gornjogradskih platana. Nudi dvije spavaonice od kojih je jedna, jednokrevetna, opremljena kao kapetanova soba uređena detaljima brodske kabine. Dvokrevetna soba smještena je u suterenu-potkrovlju.
<br><br>
<strong>Adresa:</strong> Markovićeva 54, 48260 Križevci
Kontakt: Branka Gold
Tel: 048 712 387<br>
Web: <a href="http://www.kapetanova-kuca.hr" target="_blank">www.kapetanova-kuca.hr</a>
<br><br>

&nbsp;
<h1>Hotel „Kalnik“ **</h1>
<img class="img-responsive" src="images/smjestaj/hotelkalnik.jpg" alt="hotelkalnik" width="600" height="450" />
<br><br>
<strong>Adresa:</strong> Trg sv.Florijana 13, 48260 Križevci<br>
Tel: 048 681 522<br>
Fax: 048 681 521

&nbsp;
<h1>KTC sobe i apartmani***</h1>
<img class="img-responsive" src="images/smjestaj/ktc.jpg" alt="ktc" width="600" height="386" />

Objekt je smješten u mirnom djelu grada, udaljen 10 minuta od željezničkog kolodvora te centra grada. Prikladan je za smještaj poslovnih ljudi, prolaznih gostiju, turista u proputovanju...Motel zadovoljava kategoriju 3 zvjezdice, te nudi 32 dvokrevetne sobe sa klima uređajem, telefonom, kupaonicom, internet priključkom, TV prijemnikom, te 11 apartmana koji uz navedeno sadrže mini bar i kuhinju.
<br><br>
<strong>Adresa:</strong> Nikole Tesle 18, 48260 Križevci
Tel: 048 682 593<br>
e-mail: hotel(at)ktc.hr<br>
Web: <a href="http://www.ktc.hr" target="_blank">http://www.ktc.hr</a>

&nbsp;
<h1>PLANINARSKI DOM KALNIK</h1>
<img class="size-full wp-image-1290" src="images/smjestaj/PLANINARSKI_DOM_KALNIK.jpg" alt="PLANINARSKI_DOM_KALNIK" width="600" height="304" /><br>
Planinarski dom Kalnik smješten je na planini Kalnik (480 metara nadmorske visine). Okružen je netaknutom prirodom te prekrasnim zidinama starog grada Kalnik. Odiše povješću, kulturom, tradicijom. Omiljeno je okupljalište žitelja sjeverne Hrvatske, kako planinara tako i svih onih željnih mira i ljepote. Svojim posjetiteljima svakodnevno pruža domaće i autohtone specijalitete kalničkog kraja, ali i poznata jela Hrvatske i svijeta.
<br><br>
<strong>Adresa:</strong> Starogradska 64, 48269 Kalnik<br>
Tel: 048 857 091<br>
Fax: 048 857 091<br>
e-mail: info(at)pldom-kalnik.hr<br>
Web: <a href="http://www.pldom-kalnik.hr" target="_blank">www.pldom-kalnik.hr</a>


&nbsp;
<h1>Seoski turizam Rakić</h1>
<img class="size-full wp-image-1291" src="images/smjestaj/seoski_rakic.jpg" alt="seoski_rakic" width="600" height="398" /><br>
Imanje se nalazi u malenom selu Čabraji, uređeno u tradicionalnom stilu starinskih seljačkih domaćinstava. Nudi razgledavanje okolice, vožnju biciklima, jahanje na poniju, razgledavanje etno-zbirki, demonstraciju rada mlina i tkalačkog stana. Restoran nudi bogatu ponudu domaćih jela prema staroj recepturi. Od smještajnog kapaciteta na raspolaganju je jedan dvokrevetni i jedan trokrevetni apartman te tri dvokrevetne sobe.
Kontakt: Katica i Boško Rakić
<br><br>
<strong>Adresa:</strong> Čabraji 25, 48264 Vojakovački Kloštar<br>
Tel: 048 697 502; 048 697 242<br>
Mob: 098 163 1515; 098 722 319


&nbsp;
<h1>Obiteljsko izletište Novak</h1>
<img class="size-full wp-image-1292" src="images/smjestaj/izletiste_novak_1.jpg" alt="izletiste_novak_1" width="600" height="398" /><br>
Idealno mjesto za jednodnevne izlete u prirodi. U sklopu izletišta nalaze se tri prekrasna jezera, nogometno igralište, dječji park, boćalište, teren za badminton, viseća kuglana, staze za šetnju kroz šumu i razgledavanje domaćih životinja u malom zoolokom vrtu.  Restoran sa 400 sjedećih mjesta nudi bogatu gastronomsku ponudu.
<br><br>
<strong>Adresa:</strong> Cepidlak 82, 48213 Cepidlak
Tel: 048 859 045<br>
Mob: 099 333 2618

&nbsp;



