
    <footer id="footer">
        <div class="container">

<div class="col-md-4">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/hr_HR/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/skavillefestival" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/skavillefestival"><a href="https://www.facebook.com/skavillefestival">Skaville Festival - Booking - Promotion</a></blockquote></div></div>



</div>

<div class="col-md-4">
            <div class="text-center">
                <p> Copyright  &copy;2015<a target="_blank" href="http://festival.skaville.org/"> Skaville </a>Festival. Sva prava pridržana. <br>
                <a href="http://dploy.io"><img src="https://vikktor.dploy.io/badge/88313865926861/24767.png" alt="Deployment status from dploy.io">
                </a>
                 </p>              


<ul class="soc">
    <li><a class="soc-facebook" href="https://www.facebook.com/skavillefestival"></a></li>
    <li><a class="soc-youtube" href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg/videos"></a></li>
    <li><a class="soc-twitter soc-icon-last" href="https://twitter.com/skavillefest/"></a></li>
</ul>
            </div>
</div>


<div class="col-md-4">

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif;  width:300px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//skaville.us4.list-manage.com/subscribe/post?u=e8a1e781707197a10dccac675&amp;id=c4a15c553a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<label for="mce-EMAIL">Skaville Newsletter u tvoj inbox!
</label>
	<input type="email" value="" name="EMAIL"  placeholder="E-mail" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e8a1e781707197a10dccac675_c4a15c553a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

</div>


        </div>
    </footer>
    <!--/#footer-->