<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.naslov }} - Skaville Festival Križevci 2015">
    <!-- Bootstrap -->
    <link href="bandcss/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bandcss/flexslider.css" type="text/css">
    <link href="bandcss/styles.css?v=1.6" rel="stylesheet">
    <link href="bandcss/queries.css?v=1.6" rel="stylesheet">
    <link href="bandcss/jquery.fancybox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fonts -->
  
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <header id="header" role="banner">    
    <div class="main-nav">
      <div class="container">
        <div class="header-top">
          <div class="pull-right social-icons">
            <a href="https://twitter.com/skavillefest/"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/skavillefestival"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg"><i class="fa fa-youtube"></i></a>
          </div>
        </div>     
            <div class="row">             
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                      <img class="img-responsive" src="images/logo.png" alt="logo">
                    </a>                    
                </div>
                <div class="collapse navbar-collapse">
{% include main-menu.html %}
                </div>
            </div>
          </div>
        </div>                    
    </header>