<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skaville Festival Križevci 2015">
    <meta name="author" content="">
    <title>{{ page.title }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">	
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
<link rel="shortcut icon" href="http://www.skaville.org/favicon.ico?v=2" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.skaville.org/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.skaville.org/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.skaville.org/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.skaville.org/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.skaville.org/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.skaville.org/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.skaville.org/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.skaville.org/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-64x64.png" sizes="64x64" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-24x24.png" sizes="24x24" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://www.skaville.org/favicon-128x128.png" sizes="128x128" />
<meta name="msapplication-square70x70logo" content="http://www.skaville.org/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://www.skaville.org/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://www.skaville.org/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://www.skaville.org/mstile-310x310.png" />
<meta name="application-name" content="Skaville Festival"/>
<meta name="msapplication-TileColor" content="#ffffff"/>

</head><!--/head-->

<body>
	
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="https://twitter.com/skavillefest/"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/skavillefestival"><i class="fa fa-facebook"></i></a>
						<a href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg"><i class="fa fa-youtube"></i></a>
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
{% include main-menu.html %}
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>
    <!--/#header--> 