
	<section id="event">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Lineup</h2>

				<div class="carousel-inner">
				<div class="item active">

					<div class="row">
										<div class="col-sm-4">
										<div class="single-event">
										<a href="kawasaki.html"><img class="img-responsive" src="images/event/kawasaki.jpg" alt="Kawasaki 3P "></a>
											<h4>Kawasaki 3P </h4>
											<h5>{{ site.data.punchlines.kawasaki }}</h5>
										</div>
										</div>



										<div class="col-sm-4">
										<div class="single-event">
										<a href="fob.html"><img class="img-responsive" src="images/event/FOB.jpg" alt="FAKOFBOLAN"></a>
											<h4>FAKOFBOLAN </h4>
											<h5>{{ site.data.punchlines.fob }}</h5>
										</div>
										</div>


									<div class="col-sm-4">
									<div class="single-event">
									<a href="stillness.html"><img class="img-responsive" src="images/event/stillness.jpg" alt="ST!llness"></a>
											<h4>ST!llness  </h4>
											<h5>{{ site.data.punchlines.stillness }}</h5>
									</div>
									</div>


									<div class="col-sm-4">
									<div class="single-event">
									<a href="redska.html"><img class="img-responsive" src="images/event/redska.jpg" alt="RedSKA"></a>
											<h4>RedSKA  </h4>
											<h5>{{ site.data.punchlines.redska }}</h5>
									</div>
									</div>



									<div class="col-sm-4">
									<div class="single-event">
									<a href="jolly.html"><img class="img-responsive" src="images/event/jolly.jpg" alt="Jolly Jackers"></a>
											<h4>Jolly Jackers </h4>
											<h5>{{ site.data.punchlines.jolly }}</h5>
									</div>
									</div>

									<div class="col-sm-4">
									<div class="single-event">
									<a href="skampida.html"><img class="img-responsive" src="images/event/skampida.jpg" alt="Skampida "></a>
											<h4>Skampida </h4>
											<h5>{{ site.data.punchlines.skampida }}</h5>
									</div>
									</div>


										<div class="col-sm-4">
										<div class="single-event">
										<a href="gipsy.html"><img class="img-responsive" src="images/event/gipsy.jpg" alt="The Gypsy Ska Orquesta"></a>
											<h4>The Gypsy Ska Orquesta </h4>
											<h5>{{ site.data.punchlines.gipsy }}</h5>
										</div>
										</div>


										<div class="col-sm-4">
										<div class="single-event">
										<a href="jeboton.html"><img class="img-responsive" src="images/event/jeboton.jpg" alt="Jeboton"></a>
												<h4>Jeboton</h4>
												<h5>{{ site.data.punchlines.jeboton }}</h5>
										</div>
										</div>

										
										<div class="col-sm-4">
										<div class="single-event">
										<a href="pirate.html"><img class="img-responsive" src="images/event/pirate.jpg" alt="Pirate Rude Soundsystem "></a>
												<h4>Pirate Rude Soundsystem </h4>
												<h5>{{ site.data.punchlines.pirate }}</h5>
										</div>
										</div>




							</div>
							</div>




						</div>
					</div>
				</div>


				<div class="guitar">
					<img class="img-responsive" src="images/guitar.png" alt="guitar">
				</div>
			</div>
		</div>
	</section><!--/#event-->
