                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="index.html#home">Home</a></li>
                        <li class="scroll"><a href="index.html#explore">Kad?</a></li>
                        <li class="scroll"><a href="index.html#map">Gdje?</a></li>
                        <li class="scroll"><a href="index.html#event">Lineup</a></li>
                        <li class="scroll"><a href="index.html#about">O Festivalu</a></li>
                        <li class="no-scroll"><a href="index.html#twitter">Ulaznice</a></li>
                        <li class="scroll"><a href="index.html#contact-section">Kontakt</a></li>
                    </ul>
