{% include header-bend.html %}

      <section class="hero" id="hero" style="background-image:  url( {{ page.style }}); ">
        <div class="container">
          <div class="row">


          <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
              <a href="{{ page.video }}" class="hero-play-btn various fancybox.iframe">Play Button</a>
            </div>

            <div class="col-md-10 col-md-offset-1 text-center well">
              <h1 class="animated bounceInDown">{{ page.naslov }}</h1>
              <p class="animated fadeInUpDelay"> {{ page.content }}</p>
    
<div class="header-right">
      <ul>
        <li><a href="{{ page.facebook }}"><span class="fb"> </span></a></li>
        <li><a href="{{ page.twitter }}"><span class="twito"> </span></a></li>
        <li><a href="{{ page.youtube }}"><span class="yt"> </span></a></li>
      </ul>
</div>


            </div>
          </div>
          </div>
        </div>
      </section>
{% include lineup-bend.html %}
{% include js-bend.html %}
{% include footer-index.html %}
    </body>
  </html>