{% include header-index.html %}

    <section id="home">
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<li data-target="#main-slider" data-slide-to="1"></li>
				<li data-target="#main-slider" data-slide-to="2"></li>
				<li data-target="#main-slider" data-slide-to="3"></li>
				<li data-target="#main-slider" data-slide-to="4"></li>
				<li data-target="#main-slider" data-slide-to="5"></li>
        <li data-target="#main-slider" data-slide-to="6"></li>
        <li data-target="#main-slider" data-slide-to="7"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="images/slider/bg4.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>Kawasaki 3P </h2>
						<h4>{{ page.punchline }}</h4>
						<a href="kawasaki.html" >Više ... <i class="fa fa-angle-right"></i></a>
				</div>
				</div>

        <div class="item">
					<img class="img-responsive" src="images/slider/bg9.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>FAKOFBOLAN</h2>
						<h4>{{ page.punchline }}</h4>
						<a href="fob.html">Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

				<div class="item">
					<img class="img-responsive" src="images/slider/bg5.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>ST!LLNESS</h2>
						<h4>{{ page.punchline }}</h4>
						<a href="stillness.html">Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

        <div class="item">
					<img class="img-responsive" src="images/slider/bg7.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>Skampida</h2>
						<h4>{{ page.punchline }}</h4>
						<a href="skampida.html">Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

				<div class="item">
					<img class="img-responsive" src="images/slider/bg8.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>RedSKA</h2>
						<h4>{{ page.punchline }}</h4>
						<a href="redska.html">Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

        <div class="item">
					<img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>JEBOTON ANSAMBL </h2>
						<h4>{{ page.punchline }}</h4>
						<a href="jeboton.html">Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>


				<div class="item">
					<img class="img-responsive" src="images/slider/bg6.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>Jolly Jackers </h2>
						<h4>{{ page.punchline }}</h4>
						<a href="jolly.html" >Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

        <div class="item">
					<img class="img-responsive" src="images/slider/bg3.jpg" alt="slider">
					<div class="carousel-caption">
						<h2>The Gypsy Ska Orquesta </h2>
						<h4>{{ page.punchline }}</h4>
						<a href="gipsy.html" >Više ... <i class="fa fa-angle-right"></i></a>
					</div>
				</div>



			</div>
		</div>
    </section>
	<!--/#home-->

	<section id="explore">
		<div class="container">
			<div class="row">
				<div class="watch">
					<img class="img-responsive" src="images/watch.png" alt="">
				</div>
				<div class="col-md-4 col-md-offset-2 col-sm-5">
					<h2><strong>Skaville Festival<br>  09.-12. 07.2015.<br> <a href="lokacija.html">Ljetno kino/bivša vojarna, Križevci</a></strong></h2>
				</div>
				<div class="col-sm-7 col-md-6">
					<ul id="countdown">
						<li>
							<span class="days time-font">00</span>
							<p>dana </p>
						</li>
						<li>
							<span class="hours time-font">00</span>
							<p class="">sati </p>
						</li>
						<li>
							<span class="minutes time-font">00</span>
							<p class="">minuta</p>
						</li>
						<li>
							<span class="seconds time-font">00</span>
							<p class="">sekundi</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="cart">
				<a href="https://www.entrio.hr/event/9th-skaville-festival--2210"><i class="fa fa-shopping-cart"></i> <span>Nabavi ulaznice</span></a>
			</div>
		</div>
	</section><!--/#explore-->

	{% include lineup-bend.html %}

	<section id="about">
		<div class="guitar2">
			<img class="img-responsive" src="images/guitar2.jpg" alt="guitar">
		</div>
		<div class="about-content col-lg-6">
					<h2>O Skaville Festivalu</h2>
					<p>Skaville dolazi od riječi ska koja opisuje jamajkanski žanr glazbe nastao kao prethodnik poznatije reggae glazbe dok riječ ville dolazi od village (eng. selo) čime želimo ukazati da je Skaville festival jedno veliko ska selo – mjesto muzike, kulture, iskustava, ljudi, različitih sadržaja, promocije turizma i sporta.</p>
					<a href="skaville.html" class="btn btn-primary">Više o Skavilleu  &nbsp;<i class="fa fa-info-circle"></i></a>
          <a href="program.html" class="btn btn-primary">Program  &nbsp;<i class="fa fa-calendar"></i></a>
          <a href="skavillage.html" class="btn btn-primary">Skavillage  &nbsp;<i class="fa fa-users"></i></a>
					<a href="lokacija.html" class="btn btn-primary">Lokacija  &nbsp;<i class="fa fa-location-arrow"></i></a>
					<a href="smjestaj.html" class="btn btn-primary">Smještaj  &nbsp;<i class="fa fa-home"></i></a>
					<a href="pravila.html" class="btn btn-primary">Pravila  &nbsp;<i class="fa fa-warning"></i></a>


		</div>
	</section><!--/#about-->

	<section id="twitter">
		<div class="container">
		<div class="row">
		<div class="col-sm-10">
			<h2 class="contact">Nabavi ulaznice online</h2>
		<script src="https://www.entrio.hr/hr/widgets/single_event_widget/1358/white"></script>
    <h4 class="contact"> JEDNODNEVNA ULAZNICA - 60,00 kn - dostupne na festivalskom ulazu i u Križevcima - Art Rock Caffe</h4>
		</div>
		</div>
		</div>



	</section><!--/#twitter-feed-->

	<section id="sponsor">
		<div id="sponsor-carousel" class="carousel slide" data-interval="false">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<h2>Donatori i sponzori</h2>
						<a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
						<div class="carousel-inner">
							<div class="item active">
								<ul>
									<li><img class="img-responsive" src="images/sponsor/1-Zaklada.png" data-toggle="tooltip" data-placement="bottom" title="Nacionalna zaklada za razvoj civilnog društva" alt="Nacionalna zaklada za razvoj civilnog društva"></li>

									<li><img class="img-responsive" src="images/sponsor/2-Kulturanova.png" data-toggle="tooltip" data-placement="bottom" title="Zaklada Kultura nova" alt="Zaklada Kultura nova"></li>

									<li><img class="img-responsive" src="images/sponsor/3-Krizevacko.jpg" data-toggle="tooltip" data-placement="bottom" title="Križevačko Pivo" alt="Križevačko Pivo"></li>

									<li><img class="img-responsive" src="images/sponsor/4-Zupanija.jpg" data-toggle="tooltip" data-placement="bottom" title="Koprivničko-križevačka županija" alt="Koprivničko-križevačka županija"></li>

									<li><img class="img-responsive" src="images/sponsor/5-Krizevci.jpg" data-toggle="tooltip" data-placement="bottom" title="Grad Križevci" alt="Grad Križevci"></li>

									<li><img class="img-responsive" src="images/sponsor/6-Artmedia.png" data-toggle="tooltip" data-placement="bottom" title="Artmedia" alt="Artmedia"></li>

                  <li><img class="img-responsive" src="images/sponsor/7-knjiznica_logo.jpg" data-toggle="tooltip" data-placement="bottom" title="Gradska knjižnica "Franjo Marković"" alt="Gradska knjižnica "Franjo Marković""></li>

                  <li><img class="img-responsive" src="images/sponsor/8-vc_link_logo.jpg" data-toggle="tooltip" data-placement="bottom" title="Volonterski centar "Link"" alt="Volonterski centar "Link""></li>

								</ul>
							</div>

							<div class="item">
								<ul>
									<li><img class="img-responsive" src="images/sponsor/1-Zaklada.png" data-toggle="tooltip" data-placement="bottom" title="Nacionalna zaklada za razvoj civilnog društva" alt="Nacionalna zaklada za razvoj civilnog društva"></li>

									<li><img class="img-responsive" src="images/sponsor/2-Kulturanova.png" data-toggle="tooltip" data-placement="bottom" title="Zaklada Kultura nova" alt="Zaklada Kultura nova"></li>

									<li><img class="img-responsive" src="images/sponsor/3-Krizevacko.jpg" data-toggle="tooltip" data-placement="bottom" title="Križevačko Pivo" alt="Križevačko Pivo"></li>

									<li><img class="img-responsive" src="images/sponsor/4-Zupanija.jpg" data-toggle="tooltip" data-placement="bottom" title="Koprivničko-križevačka županija" alt="Koprivničko-križevačka županija"></li>

									<li><img class="img-responsive" src="images/sponsor/5-Krizevci.jpg" data-toggle="tooltip" data-placement="bottom" title="Grad Križevci" alt="Grad Križevci"></li>

									<li><img class="img-responsive" src="images/sponsor/6-Artmedia.png" data-toggle="tooltip" data-placement="bottom" title="Artmedia" alt="Artmedia"></li>

                  <li><img class="img-responsive" src="images/sponsor/7-knjiznica_logo.jpg" data-toggle="tooltip" data-placement="bottom" title="Gradska knjižnica "Franjo Marković"" alt="Gradska knjižnica "Franjo Marković""></li>

                  <li><img class="img-responsive" src="images/sponsor/8-vc_link_logo.jpg" data-toggle="tooltip" data-placement="bottom" title="Volonterski centar "Link"" alt="Volonterski centar "Link""></li>


								</ul>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="light">
				<img class="img-responsive" src="images/light.png" alt="">
			</div>
		</div>
	</section><!--/#sponsor-->

	<section id="contact">
		<div id="map">
			<div id="gmap-wrap">
	 			<div id="gmap">
	 			</div>
	    	</div>
		</div><!--/#map-->
		<div class="contact-section">
			<div class="ear-piece">
				<img class="img-responsive" src="images/ear-piece.png" alt="">
			</div>
			<div class="container"> <!--#kontakt-->
				<div class="row">
					<div class="col-sm-3 col-sm-offset-4">
						<div class="contact-text">
							<h3>Kontakt</h3>
							<address>
								E-mail: office@skaville.org<br>
								Telefon: +385 (48) 711 073<br>
								Fax: +385 (48) 711 073
							</address>
						</div>
						<div class="contact-address">
							<h3>Adresa</h3>
							<address>
								Klub kulture – multimedijalni i kulturni centar<br>
								Mažuranićev trg 1<br>
								Križevci, 48260<br>
								Croatia
							</address>
						</div>
					</div>
					<div class="col-sm-5">
						<div id="contact-section">
							<h3>Pošalji poruku</h3>
					    	<div class="status alert alert-success" style="display: none"></div>
					    	<form id="main-contact-form" class="contact-form" name="contact-form">
					            <div class="form-group">
					                <input type="text" name="name" class="form-control" required="required" placeholder="Ime">
					            </div>
					            <div class="form-group">
					                <input type="email" name="email" class="form-control" required="required" placeholder="Email">
					            </div>
					            <div class="form-group">
					                <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Poruka"></textarea>
					            </div>
					            <div class="form-group">
					                <button type="submit" name="submit" id="submit_btn" value="Submit" class="btn btn-primary pull-right">Pošalji</button>
					            </div>
					        </form>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!--/#contact-->

{% include footer-index.html %}

{% include js-index.html %}


</body>
</html>
