<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.naslov }} - Skaville Festival Križevci 2015">
    <meta name="author" content="Skaville Festival">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/ofestivalu.css" rel="stylesheet">

        <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

    <!-- Google Maps JavaScript -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
   

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style type="text/css">
    #map {
      width: 100%;
      height: 450px;

#panorama {
  height:300px;
  background:#6699cc;
}
    }
  </style>

</head>

<body>
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="https://twitter.com/skavillefest/"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/skavillefestival"><i class="fa fa-facebook"></i></a>
						<a href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg"><i class="fa fa-youtube"></i></a>
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
{% include main-menu.html %}
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ page.style }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.naslov }}</h1>
                        <h2 class="subheading">{{ page.podnaslov }}</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>





    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                   <p>{{ page.content }}</p>


                </div>
            </div>

        </div>
    </article>


  <div id="map"></div>
  <script>
    map = new GMaps({
        el: '#map',
        lat: 46.020533,
        lng: 16.544279,
        scrollwheel:false,
        zoom: 16,
        zoomControl : true,
        panControl : false,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false,
        clickable: false
    });



    var image = 'images/map-icon.png';
    map.addMarker({
        lat: 46.020533,
        lng: 16.544279,
        icon: image,
        animation: google.maps.Animation.DROP,
        verticalAlign: 'bottom',
        horizontalAlign: 'center',
        backgroundColor: '#3e8bff',
    });


    var styles = [ 

    {
        "featureType": "road",
        "stylers": [
        { "color": "#b4b4b4" }
        ]
    },{
        "featureType": "water",
        "stylers": [
        { "color": "#d8d8d8" }
        ]
    },{
        "featureType": "landscape",
        "stylers": [
        { "color": "#f1f1f1" }
        ]
    },{
        "elementType": "labels.text.fill",
        "stylers": [
        { "color": "#000000" }
        ]
    },{
        "featureType": "poi",
        "stylers": [
        { "color": "#d9d9d9" }
        ]
    },{
        "elementType": "labels.text",
        "stylers": [
        { "saturation": 1 },
        { "weight": 0.1 },
        { "color": "#000000" }
        ]
    }

    ];

  </script>

    <!-- Footer -->
{% include footer-index.html %}


</body>

</html>
