<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.naslov }} - Skaville Festival Križevci 2015">
    <meta name="author" content="Skaville Festival">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/ofestivalu.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="https://twitter.com/skavillefest/"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/skavillefestival"><i class="fa fa-facebook"></i></a>
						<a href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg"><i class="fa fa-youtube"></i></a>
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
{% include main-menu.html %}
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/skaville_header_2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.naslov }}</h1>
                        <h2 class="subheading"></h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                   <p>Sretni smo da i u ovim teškim ekonomskim vremenima možemo razveseliti našu publiku i sve ljubitelje kvalitetne muzike još jednom selekcijom iznimnih izvođača koji će nastupiti na devetom izdanju Skaville Festivala. </p>

                   <img src="images/publika_skaville_2014_festival.jpg" alt="Skaville Festival 2014 - Križevci" class="img-responsive">
<p>
Grad Križevci će i u 2015. godini biti mjesto za sve ljude koji traže kvalitetan i raznolik sadržaj u kontinentalnoj Hrvatskoj, od muzičkih izvođača iz cijelog svijeta preko programa za najmlađe do sportskih i kulturnih aktivnosti do gastronomskih delicija iz našeg kraja. 

Početak ljeta na kontinentu označava upravo početak Skaville Festivala koji će se održati od 09. do 12. srpnja 2015. a ovim putem predstavljamo i festivalske ulaznice za ranoranioce po samo 80 kuna. Također, podsjećamo vas da festivalske ulaznice podrazumijevaju i besplatno kampiranje. 

Skaville Festival je povratkom u Križevce postao središnja gradska manifestacija koja privlači većinom mlađe posjetitelje iz cijele Hrvatske i regije a već dugi niz godina festival posjećuju i razni gosti iz cijele Europe. Opuštena i prijateljska atmosfera, odlična glazbena selekcija na dvije pozornice, besplatno kampiranje, sportski program, križevački bazeni i pregršt zanimljivog sadržaja mamac su ugodan boravak u Prigorju.</p>
 <img src="images/skaville.jpg" alt="Skaville Festival" class="img-responsive">

<p>U nastavku donosimo pregled svih Skaville festivala:</p>
                </div>
            </div>

    <ul class="timeline">

       <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">8. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10.-13.07.2014 - Ljetno kino/vojarna u Križevcima:</small>
            </div>
            <div class="timeline-body">
              <p>New York Ska Jazz Ensemble, S.A.R.S., Jah On Slide, Postolar Tripper, Samostalni Referenti, Ska-Pecs, Drvored, Naturalna Mistika, Raggalution, Baga Sound, DJ Killo Killo, Hannibal seLecter, Nite Club Boss, Skaville Sound System
</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">7. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 24.- 28.07.2013. - kamp Martinska/Šibenik</small>
            </div>
            <div class="timeline-body">
              <p>Kodul, Pannonia Allstars Ska Orchestra, The Toasters, The Bankrobbers, Killo Killo Banda, Yellow Spots, Hannibal seLecter, Baga Sound, JD Littlehead & Desmond Schleker, Bass Matters, DzonSkaVolta, Nite Club Boss</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">6. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 26.- 29.07.2012. - kamp Martinska/Šibenik:</small>
            </div>
            <div class="timeline-body">
              <p>Los Fastidios, The Resignators, ZAA, St!llness, Skaputnik, The Mighty Fishers, Postolar Tripper, NH3, Justin's Johnson, Pleska, Rudies, DzonSkaVolta
</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">5. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 28.-30.07.2011 - kamp Preluk/Rijeka</small>
            </div>
            <div class="timeline-body">
              <p>Mark Foggo, Pat Kelly & The Magic Touch, Ki Sap, Aspencat, Open Season, Red Five Point Star, Neozbiljni Pesimisti, La Cavaska, Eve & The Evils, Officer Down, Radio Aktiv, S-kapada, Baga Sound, DžonSkaVolta</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">4. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 30. & 31.07.2010. - uvala Voz, otok Krk</small>
            </div>
            <div class="timeline-body">
              <p>Pannonia Allstars Ska Orchestra, The Kluba, Samostalni Referenti, Kawasaki 3p, Antenat, Mala Vida, Drunken Monkeys, Kaso Perdido, Postolar Tripper, Nomades & Skaetera, Cirkus, DžonSkaVolta</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">3. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 24. & 25. 07. 2009. - uvala Voz, otok Krk</small>
            </div>
            <div class="timeline-body">
              <p>Skarface, La Gossa Sorda, Les 100 Grammes De Tetes, Mr.T-Bone&Young Lions, Talco, Deskarats, Beetantone, Lost Proppeleros, Cirkus, DžonSkaVolta</p>
              
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 26. & 27.07. 2008. - uvala Voz, otok Krk</small>
            </div>
            <div class="timeline-body">
              <p>Redska, The Offenders, Pannonia Allstars Ska Orchestra, Los Tres Puntos , Rinišpil, Hoodska Explosive, Redskadrila, Skarbone, Les Skalopes, Officer Down</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">1. SKAVILLE FESTIVAL</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19.05.2007. - Križevci, Klub kulture</small>
            </div>
            <div class="timeline-body">
              <p>Redska, Dissolutio, Officer Down</p>
            </div>
          </div>
        </li>
    </ul>
        </div>
    </article>
    <!-- Footer -->
{% include footer-index.html %}
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
