<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.naslov }} - Skaville Festival Križevci 2015">
    <meta name="author" content="Skaville Festival">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/ofestivalu.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<header id="header" role="banner">
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="https://twitter.com/skavillefest/"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/skavillefestival"><i class="fa fa-facebook"></i></a>
						<a href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
		        <div class="row">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a>
		            </div>
		            <div class="collapse navbar-collapse">
{% include main-menu.html %}
		            </div>
		        </div>
	        </div>
        </div>
    </header>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/skaville_header_2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.naslov }}</h1>
                        <h2 class="subheading"></h2>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                </div>
            </div>

    <ul class="timeline">

       <li>
          <div class="timeline-badge warning"><i class="fa fa-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ČETVRTAK</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 09.07.2015. - Park@vojarna u Križevcima:</small>
            </div>
            <div class="timeline-body">
              <p>20:00 – 02:00h<br><strong>Pirate Rude Soundsystem</strong><br><strong>DJ Skins 1905</strong><br><strong>DzonSkaVolta</strong><br><strong>DJ Venom</strong> </p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-reddit"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">DNEVNI PROGRAM</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> ČETVRTAK - 09.07.2015.</small>
            </div>
            <div class="timeline-body">
              <p><strong>Yoga radionice</strong> // 07:30 – 08:30<br><strong>KŽ bazeni</strong> // 10:00 – 20:00<br><strong>Međunarodni volonterski kamp / radionice za djecu</strong> // 10:00 – 13:00</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge warning"><i class="fa fa-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">PETAK</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10.07.2015. - Ljetno kino/vojarna u Križevcima:</small>
            </div>
            <div class="timeline-body">
              <p>
                <strong>Žonglerski show sa vatrom</strong> // 21:30 – 22:00h<br><strong>Jeboton Ansambl</strong> // 22:00 – 23,00<br><strong>Fakofbolan</strong> // 23:15 – 00:15<br><strong>St!llness</strong> // 00:30 – 02:00
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-reddit"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">DNEVNI PROGRAM</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> PETAK - 10.07.2015.</small>
            </div>
            <div class="timeline-body">
              <p><strong>Yoga radionice</strong> // 07:30 – 08:30<br><strong>KŽ bazeni</strong> // 10:00 – 20:00<br><strong>Međunarodni volonterski kamp / radionice za djecu</strong> // 10:00 – 13:00<br><strong>Žonglerski show sa vatrom</strong> // 21:30 – 22:00</p>
            </div>
          </div>
        </li>


        <li>
          <div class="timeline-badge warning"><i class="fa fa-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">SUBOTA</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11.07.2015. - Ljetno kino/vojarna u Križevcima:</small>
            </div>
            <div class="timeline-body">
              <p>
                <strong>Jolly Jackers</strong> // 22:00 – 22,45<br><strong>Skampida</strong> // 23:00 – 23:45<br><strong>Kawasaki 3p</strong> // 00:00 – 01:15<br><strong>Gyspy Ska Orquesta</strong> // 01:30 – 02:45<br><br><strong>After party@park</strong><br>DJs Pirate Rude Soundsystem / Dj Skins1905
              </p>
            </div>
          </div>
        </li>


        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-reddit"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">DNEVNI PROGRAM</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> SUBOTA - 11.07.2015.</small>
            </div>
            <div class="timeline-body">
              <p><strong>Yoga radionice</strong> // 07:30 – 08:30<br><strong>KŽ bazeni</strong> // 10:00 – 20:00<br><strong>Međunarodni volonterski kamp / radionice za djecu</strong> // 10:00 – 13:00<br><strong>Crosscity Buckets – hakl turnir u uličnoj košarci</strong> // 14:00 – 22:00<br><strong>Cirkus radionice</strong> // 13:00 – 20:00<br><br><strong>Show sa vatrom</strong> // 21:30<br>
              </p>
            </div>
          </div>
        </li>



        <li>
          <div class="timeline-badge warning"><i class="fa fa-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">NEDJELJA</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 12.07.2015. - Ljetno kino/vojarna u Križevcima:</small>
            </div>
            <div class="timeline-body">
              <p>
                <strong>Pirate Rude Soundsystem</strong><br><strong>DJ Skins 1905</strong><br>
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-reddit"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">DNEVNI PROGRAM</h4>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> NEDJELJA - 12.07.2015.</small>
            </div>
            <div class="timeline-body">
              <p><strong>Yoga radionice</strong> // 07:30 – 08:30<br><strong>KŽ bazeni</strong> // 10:00 – 20:00<br><strong>Međunarodni volonterski kamp / radionice za djecu</strong> // 10:00 – 13:00<br><strong>Ska biciklijada: Križevci - Helena - Ivanec - Glogovnica - Veliki potočec – Križevci (25km + osiguran ručak)</strong> // 11:00 – 13:00<br>
              </p>
            </div>
          </div>
        </li>



    </ul>
        </div>
    </article>
    <!-- Footer -->
{% include footer-index.html %}
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
