<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.naslov }} - Skaville Festival Križevci 2015">
    <meta name="author" content="Skaville Festival">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/ofestivalu.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<header id="header" role="banner">
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="https://twitter.com/skavillefest/"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/skavillefestival"><i class="fa fa-facebook"></i></a>
						<a href="https://www.youtube.com/channel/UCB2WtqnqdTEBV47afc93VMg"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
		        <div class="row">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a>
		            </div>
		            <div class="collapse navbar-collapse">
{% include main-menu.html %}
		            </div>
		        </div>
	        </div>
        </div>
    </header>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/skaville_header_5.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.naslov }}</h1>
                        <h2 class="subheading"></h2>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                   <H2>CROSSCITY BUCKETS - KRIŽEVCI 2015.</H2>

                   <img src="images/CB2015.jpg" alt="CROSSCITY BUCKETS" class="img-responsive">
<p>
  Turnir u uličnoj košarci 3 na 3
  11.07.2015. subota, 14,00h
  Igralište kod srednje škole I. Seljanec

  - medalje za I, II, i III mjesto
  - novčana nagrada za pobjednike
  - besplatne karte za Skaville Festival za najbolje timove i natjecatelje
  - osigurano osvježenje i majice za sve natjecatelje
  - natjecanje u tricama
  - natjecanje u šutu sa centra

  Prijave na broj: 0915796465 te na email: dhrlec@gmail.com
  Kotizacija: 90 kuna

  CB2015. u svom trećem izdanju ponovno ide korak naprijed. Nakon prošlogodišnjeg ispunjenog terena haklerima i navijačkom publikom, ove godine očekujemo još više timova, još oštriju konkurenciju i još bolju zabavu. Crosscity Buckets postaje tradicionalno godišnje okupljanje baze križevačkih uličnih košarkaša i prijatelja iz cijele Hrvatske koji dolaze u Križevce na turnir. Igra se ljuto i nabrijano ali sportski, sluša se urbana mjuza za koju je zadužen DJ, a ove godine očekuje nas i graffitti session.
&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>



<H2>"UMJETNOST POVEZUJE“ – KRIŽEVCI, 04.07.2015. – 13.07.2015.</H2>

<img src="images/Satr_960i.jpg" alt="UMJETNOST POVEZUJE" class="img-responsive">
<p>
Volonteri će osmišljavati i voditi umjetničke radionice za djecu i mlade, predstaviti svoju kulturu i unijeti međunarodnu atmosferu. Kroz umjetničke radionice moći će motivirati djecu na stvaranje, učenje i uživanje u umjetnosti. Kamp će se održavati u festivalskom kampu u središtu grada, tijekom međunarodnog Skaville festivala, te će se volonteri imati priliku upoznati i družiti s glazbenicima, posjetiteljima, lokalnim stanovništvom te sudjelovati u festivalu. <a href="http://www.workcamps.info/icamps/HR-VCZ/en/camp-details/camp-8659.html" rel="nofollow" target="_blank">Prijave na kamp "Umjetnost povezuje"</a>
</p>



                </div>
            </div>


        </div>
    </article>
    <!-- Footer -->
{% include footer-index.html %}
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
